
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{message}}</h1>
	</div>
	
</div>
<div class="row">
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li ng-repeat="room in roomlist | orderBy : 'roomId'">
				<a href="#" class="calm-color text-big" ng-click="loadDevice(room.roomId)">{{room.title}}</a>
			</li>
		</ul>
	</div>	
</div>
<div class="row">
	  <table class="table">
		<thead>
		  <tr>
			<th>Device</th>
			<th>Operation</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="device in devicelist | orderBy : 'type'" ng-if="device.active">
			<td ng-if='device.type == "N"'>
				<span class="">{{device.title}}</span>
			</td>
			<td ng-if='device.type == "S"'>
				{{device.message}} : <span class="{{device.color}}-color">{{device.value}}{{device.unit}} </span>
			</td>
			<td>
				<label class="toggle" ng-if='device.type == "N"'>
					<button class="btn btn-sm btn-success" type="button" ng-click="triggerDevice(device, $event)" ng-if="device.status">
						ON
					</button>
					<button class="btn btn-sm btn-dander" type="button" ng-click="triggerDevice(device, $event)">
						OFF
					</button>
				 </label>				 
			</td>
		  </tr>		  
		</tbody>
	  </table>
</div>